@model Identity.ViewModel.UserEditViewModel

@{
    ViewData["Title"] = "EditUser";

}

<h1>Update User</h1>

<h4>User Information</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="EditUser">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            <div>
                <label class="control-label">Manage Roles</label> <br />
                                                                  <div class="form-check">
                                                                      @for (int i = 0; i < Model.userRoleViewModel.Count; i++)
                                                                      {
                                                                          <input type="hidden" asp-for="@Model.userRoleViewModel[i].RoleName" />
                                                                          <input type="hidden" asp-for="@Model.userRoleViewModel[i].RoleId" />
                                                                          <input asp-for="@Model.userRoleViewModel[i].IsSelected" class="form-check-input" />
                                                                          <label asp-for="@Model.userRoleViewModel[i].IsSelected" class="control-label">@Model.userRoleViewModel[i].RoleName</label><br />
                                                                      }
                                                                  </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

